{% extends 'base.html.twig' %} {% block content %}
<div style="display: flex; width: 100%">
  <h3>Logget ind som:</h3>
</div>

<div class="main-container" style="height: 80%">
  <turbo-frame id="medStatusFrame">
    <div
      id="medStatusBox"
      class="forside-box"
      data-medicine-status="{{ medicineStatus }}"
      style="justify-items: center">
      <div>
        <h2>Seneste medicin status</h2>
      </div>
      <div>
        <div id="senMedikament">
          <h3>Paracetamol</h3>
        </div>
        <div style = "display: flex; justify-content: space-between">
          <div>
            <h4>Medicin taget kl: </h4>
            <h4>Medicin taget i: </h4>
          </div>
          <div>
            <h4 id="senMedikamentTagetKl">12:00</h4>
            <h4 id="senMedikamentTagetI">Køkkenet</h4>
          </div>
        </div>
      </div>
    </div>
  </turbo-frame>
  <div id="nextMedBox" class="forside-box" style="margin-top: 50px">
    <div>
      <h2 style="font-size: xx-large">Medicin for idag</h2>
    </div>
    <div>
      <table>
        <tr>
          <th>Næste dosis</th>
          <th>Medikament</th>
          <th>Prioritet</th>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
