{% extends 'base.html.twig' %} {% block content %}
<div style="display: flex; width: 100%">
  <h3>Logget ind som:</h3>
</div>
<div class = "lineSeparator" style = "  background-color: rgb(77, 70, 63); width: 100%;"></div>

<div class="main-container"></div>
{% endblock %}


