<h1>Hej!</h1>

<p>For at kunne ændre din adgangskode, skal du klikke på nedenstående link.</p> 
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Linket vil udløbe om {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Hvis du ikke anmodede om at ændre din adgangskode, kan du blot ignorere denne e-mail.</p>
<p>Med venlig hilsen,</p>
<p>ForglemMigEj Teamet</p>