body {
    background-color: skyblue;
    margin: 0;
    height: 100vh;
}

h1, h2, h3 , h4, h5, h6 {
   font-family: 'Arial', sans-serif;

}

.nav{
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.nav-item {
    display: flex;
    padding: 15px;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
  }

  .nav-item:hover {
      background-color: rgb(17, 73, 95);
      color: white;
  }

  .nav-active {
      background-color: rgb(81, 135, 156);
      font-weight: bold;
  }

.nav-text {
    font-size: 30px;
    font-weight: 400;
    padding: 0 30px;
    margin: 0px;
    color: inherit;
}

.main-content{
    background-color:rgb(230, 223, 215);
    border-radius: 40px 0 0 40px;
    position: relative;
    flex-grow: 5;
    padding: 20px;
}

.main-container {
    justify-content: center;
    padding: 20px;
    position: relative;
}

.forside-box {
    border: 3px;
    border-color: black;
    border-radius: 25px;
    padding: 10px;
    background-color: #feb4b8;
}

.forside-box-red{
  border: 3px;
  border-color: black;
  border-radius: 25px;
  padding: 10px;
  background-color: #e06666;
}

.forside-box-green{
  border: 3px;
  border-color: black;
  border-radius: 25px;
  padding: 10px;
  background-color: #a1c193;
}

#content {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
#content.fading {
  opacity: 0;
}