body {
    background-color: skyblue;
}

h1, h2, h3 , h4, h5, h6 {
   font-family: 'Arial', sans-serif;

}

.nav{
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.nav-item {
    display: flex;
    padding: 15px;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
  }

.nav-text {
    font-size: 30px;
    font-weight: 400;
    padding: 0 30px;
    margin: 0px;
    color: inherit;
    
}

.nav-item:hover {
    background-color: rgb(17, 73, 95);
    color: white;
}

.nav-line {
    width: 100%;
    height: 3px;
    background-color: rgb(17, 73, 95);
    margin-top: -2px;
}

.main-content {
    background-color: white;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}