.historik-box {
  background-color: var(--color-light-blue);
  border-radius: 2rem;
  border: 2px solid var(--color-tertiary);
  padding: 0.5rem 2rem;
  height: calc(100% - 1rem);

}

.historik-header h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.historik-table-wrapper {
  overflow-x: auto;
  max-height: calc(100% - 6rem);
  border: 3px solid var(--color-tertiary);
}

.historik-table {
  width: 100%;
  justify-content: space-between;
  background-color:white;
  border-collapse: collapse;
}

.historik-table-header {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.historik-table-header th {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 3px solid var(--color-tertiary);
  border-left: 2px solid var(--color-tertiary);
  background-color: var(--color-table-header);
  color: var(--color-text);
}

.historik-table-row td {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
  border-top: 2px solid var(--color-tertiary);
  border-left: 2px solid var(--color-tertiary);
  color: var(--color-text);
}

.historik-table-status.red {
  background-color: var(--color-red-highlight);

}

.historik-table-status.green {
  background-color: var(--color-green-highlight);

}

.historik-table-row:nth-child(even) {
  background-color: var(--color-primary);
}
