.historik-box {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  background-color: #6094a9;
  height: calc(100% - 1rem);
}

.historik-header h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.historik-table-wrapper {
  overflow-x: auto;
  max-height: calc(100% - 6rem);
  border-bottom: 3px solid #000000;
}

.historik-table {
  width: 100%;
  justify-content: space-between;
  background-color: #ffffff;
  border: 3px solid #000000;
  border-bottom: 0;
  border-collapse: collapse;
}

.historik-table-header {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.historik-table-header th {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: #fcd467;
}

.historik-table-row td {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
}

.historik-table-status.red {
  background-color: #ff6347;
}

.historik-table-status.green {
  background-color: #90ee90;
}

.historik-table-row:nth-child(even) {
  background-color: #cccccc;
}
