html {
    scroll-behavior: smooth;
}

.udstyr-header {
    text-align: center;
}


.udstyr-nav {
    background-color: skyblue;
    padding: 10px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Skyggeeffekt for at give en "boks"-fornemmelse */
    margin-bottom: 30px; /* Plads mellem navigation og udstyr */
}

.udstyr-nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.udstyr-nav-list li {
    display: inline-block;
}

.filter-button {
    background-color: skyblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
    background-color: rgb(17, 73, 95);
    transform: scale(1.1); /* Gør knappen lidt større på hover */
}

.udstyr-container-wrapper {
    padding: 10px;
}

.udstyr-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.udstyr-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

#no-selection-msg {
    display: none;
    font-size: 1.2rem;
    color: #999;
    text-align: center;
    margin-top: 20px;
}

/* Responsivt design */
@media (max-width: 768px) {
    .udstyr-container {
        grid-template-columns: 1fr;
    }

    .udstyr-nav-list {
        flex-direction: column;
    }
}
